<a href="https://colab.research.google.com/github/ndminh2003/Project/blob/main/Sales_forecasting_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [37]:
df = pd.read_csv("/Sales.csv")
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [38]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [39]:
df.isnull()

        TV  Radio  Newspaper  Sales
0    False  False      False  False
1    False  False      False  False
2    False  False      False  False
3    False  False      False  False
4    False  False      False  False
..     ...    ...        ...    ...
195  False  False      False  False
196  False  False      False  False
197  False  False      False  False
198  False  False      False  False
199  False  False      False  False

[200 rows x 4 columns]

In [40]:
y = df.Sales
y.head()
X = df.drop(["Sales"],axis=1)
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [41]:
train_X, val_X, train_y, val_y = train_test_split(X,y, random_state=1)

In [42]:
models = RandomForestRegressor(random_state=1,max_leaf_nodes=100)
models.fit(train_X,train_y)

RandomForestRegressor(max_leaf_nodes=100, random_state=1)

In [43]:
result = models.predict(val_X)
print(result)

[23.131 18.181 12.416 17.932 20.147 25.198 16.848 17.188 11.127 18.301
 16.863 11.215 18.284 15.168 17.844 15.263 12.525 18.261  8.281 18.904
 12.319 12.867  8.047 12.79  12.22  18.976 10.021 19.991 19.53  20.232
 22.164 17.156 15.391 16.827 20.119 19.049 16.95  11.631 22.005  7.135
  5.787 10.962  6.722 18.72   5.98  13.607 13.666 21.602 21.757 20.118]

In [44]:
mean_squared_error(val_y,result)

0.827961399999999